<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chs.androiddailytext">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".permission.PermissionActivity">
        </activity>
        <activity android:name=".ViewActivity">
        </activity>
        <activity android:name=".AnimatorActivity">
        </activity>
        <activity android:name=".PullRefreshActivity">
        </activity>
        <activity android:name=".ChartActivity">
        </activity>
        <activity android:name=".pattern.strategy.StrategyActivity">
        </activity>
        <activity android:name=".changeSkin.ChangeSkinActivity">
        </activity>
        <activity android:name=".http.OkhttpTextActivity">
        </activity>
        <activity android:name=".http.RetrofitTextActivity">
        </activity>
        <activity android:name=".glide.GlideActivity">
        </activity>
        <activity android:name=".custom_views.WorkLoadStatisticActivity">
        </activity>
        <activity android:name=".chart.BarChartActivity">
        </activity>
        <activity android:name=".dagger.DaggerActivity">
        </activity>
        <activity android:name=".list.ListActivity">
        </activity>
        <activity android:name=".piccanvas.PicCanvasActivity">
        </activity>
        <activity android:name=".popwindow.PopActivity">
        </activity>
    </application>

</manifest>